
<div class="theme-showcase" role="main">

  <div class="left-pic" align="center">
    <%= image_tag("workout.jpg", :alt => "workout feed", :size=> "700X300") %>
  </div>

  <div class="right-info" align="center">
    <h1>Welcome to exerciseTracker!</h1>
    <div class="center">
      <!-- <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> -->
    </div>
  </div>

</div>
