<div class="center">

  <div class="info">

    <ol type="1">
      <% current_user.workouts.all.each do |workout, i| %>
        <li><%= link_to "#{workout.name}", workout_path(workout) %></li>
        </br>
      <% end %>
    </ol>

</div>

  <div>
    <% if current_user %>
      <p>Add <%= link_to "Workout", new_workout_path %></p>
    <%end%>
  </div>
